# Arquivos de configuração do Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~

# Diretórios específicos do Eclipse
.settings/
.classpath
.project

# Arquivos do JavaFX
build.fxbuild

# Diretório target gerado pelo Maven
target/

# Diretórios de saída
/bin/
/gen/

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.swp
*~

# Bytecode compilado
*.class