.btnPlayer {
    -fx-background-radius: 30;
    -fx-background-color: #1E1F22;
}
.btnPlayer:hover {
    -fx-background-color:  #242429;
}
.btnPlayer:pressed {
    -fx-background-color:  #121214;
}
.body_btn{
    -fx-background-color: #4E5058;
}
.body_btn:hover{
    -fx-background-color: #686a72;
}
.body_btn:pressed{
    -fx-background-color: #2d2e31;
}

.login_btn{
    -fx-background-color :  #5865f2;
}

.login_btn:hover{
    -fx-background-color :  #434ec0;
}
.login_btn:pressed{
    -fx-background-color :  #353d99;
}




.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width: 90px;
    -fx-tab-max-height: 150px;
}

.tab{
}
.tab-pane .tab
{
    -fx-background-color: #1e1f22;

}

.tab-pane .tab:selected
{
    -fx-background-color: #313338;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #b5bac1;
    -fx-font-size: 20px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.player_container{
    -fx-background-color: #313338;
}